video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.home_text {
    color: #e6e6e6;
    font-size: 50px;
    position: fixed;
    text-align: center;
    flex-wrap: wrap;
}

h1 {
    font-family: trade-gothic-next, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.title {
    color: #f2a900;
    font-size: 50px;
    text-align: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-left: auto;
}

button {
    border: 0px;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
    padding: 5px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: #7f7f7f;
    box-shadow: 0 5px rgb(30, 30, 30);
    transform: translateY(4px);
}